html
    head
        meta(charset="UTF-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
        link(
            rel="icon"
            href="data:,"
            )
        script(
            src="https://kit.fontawesome.com/ae6886252d.js"
            )
        link(
            rel='stylesheet'
            href='http://127.0.0.1:3000/css/style.css'
        )
        link(
            rel='stylesheet'
            href='http://127.0.0.1:3000/css/bootstrap.css'
        )
        title NODE JS